<?xml version="1.0" encoding="utf-8" ?>
<configuration>
  <connectionStrings>
    <add name="BibliotecaDB"
<!-- Especificacion de servidor) -->
         connectionString="Server=localhost; Port=3306; Database=bibliotecadb; Uid=tu_usuario; Pwd=tu_password;"
         providerName="MySql.Data.MySqlClient" />
  </connectionStrings>
</configuration>
